


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: large;
  font-weight: 600;
  font-family: inherit;
  background-color: cadetblue;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color:black;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color:black;
  }
  button {
    background-color:cadetblue;
  }
}
